# Node
node_modules/
**/node_modules/

# Build output
dist/
build/
.out/
.next/
.nuxt/
.svelte-kit/

# Caches & temp
.cache/
tmp/
temp/
*.tmp
*.log
npm-debug.log*
yarn-*.log*
pnpm-debug.log*

# Test coverage
coverage/
.nyc_output/

# Env & secrets
.env
.env.local
.env.*.local
*.key
*.pem
*.p12

# OS junk
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.iml

# Docker (override локально)
docker-compose.override.yml