@import "tailwindcss";
@plugin './hero.ts';
@source '../../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

:root {
    --sidebar-background-color-dark: #0a0d0f;
    --sidebar-background-color-light: #e5e5e5;

    --sidebar-background-color-light-hover: #dcdcdc;
    --sidebar-background-color-dark-hover: #13395e;

    --background-color-dark: #191919;

    font-family: 'Montserrat', sans-serif;
}

html[data-theme="light"] {
  --sidebar-bg: #f8f9fa;
  --sidebar-header-bg: #ffffff;
  --sidebar-footer-bg: #ffffff;
  --sidebar-border: #e9ecef;
  --sidebar-text: #333333;
  --sidebar-text-active: #ffffff;
  --sidebar-text-hover: #ffffff;
  --sidebar-text-muted: #6c757d;
  --sidebar-active-bg: hsl(var(--heroui-primary) / 1);
  --sidebar-hover: hsl(var(--heroui-primary) / .5);
}

html[data-theme="dark"] {
  --sidebar-bg: hsla(240, 10%, 10%, 1);
  --sidebar-header-bg: hsla(240, 10%, 15%, 1);
  --sidebar-footer-bg: hsla(240, 10%, 15%, 1);
  --sidebar-border: hsla(0, 0%, 100%, 0.1);
  --sidebar-text: #e9ecef;
  --sidebar-text-muted: #adb5bd;
  --sidebar-active-bg: hsl(var(--heroui-primary) / 1);
  --sidebar-hover: rgba(255, 255, 255, 0.2);
  --background-color: #1e1e1e;
}

html, body , #root {
  background-color: var(--background-color);
  font-family: 'Montserrat', sans-serif;
}
html{
    height: 100%;
    overflow: hidden;
}

[data-overlay-container] {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;

    height: 100%;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.ag-custom-loading-overlay {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: auto;
}

/* напівпрозорий фон, “бліднить” */
.ag-custom-loading-overlay__backdrop {
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.55);
}
.ag-custom-loading-overlay__backdrop.dark {
  background: rgba(0, 0, 0, 0.35);
}


.ag-cell, .ag-header-cell, .ag-header-cell-label {
  -webkit-user-select: text;
  -moz-user-select: text;
  user-select: text;
}

/* Если у вас где-то глобально стоит user-select: none; — снимите это для грида */
.ag-root-wrapper {
  -webkit-user-select: text;
  user-select: text;
}

.ag-cell { line-height: 1.1 !important; }